.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    overflow: hidden;

    background-color: #333;

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;

        margin: 8px 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    img {
        width: 3rem;
        height: 3rem;

        margin: 8px 20px;

        border-radius: 50%;

        cursor: pointer;
    }
}